/* Resetting default browser styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 45px;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
    color: #f8f8f8;
    margin-bottom: 20px
  }

  h2 {
    font-size: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;;
    text-align: center;
  }



